html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background: #232220;
}

img {
    max-width: 100%;
}
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
h1 {
    font-size: 3.8rem;
    color: #fff;
}
h2 {
    font-size: 3.4rem;
    color: #fff;
}
h3 {
    font-size: 3rem;
    color: #fff;
}
h4 {
    font-size: 2.6rem;
    color: #fff;
}
p {
    color: #fff;
}
a {
    text-decoration: none;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.text-center {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contents-center {
    max-width: 800px;
}
.button {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
    display: block;
    flex: 0 0 100%;
}

@media (min-width: 768px) {
    .button {
        display: inline-block;
        flex: 0 0 auto;
    }
}
.button:hover {
    cursor: pointer;
}
.button-yellow {
    background-color: #00ad26;
}
.button-green {
    background-color: #00ad26;
}
.site-header {
    background-color: #333;
    padding: 1rem 0 3rem 0;
}
.site-header.home {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ), url(../utils/header.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 60rem;
}
.contents-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px) {
    .contents-header {
        text-align: left;
    }
}
.contents-header h1 {
    text-align: center;
    color: #fff;
    font-size: 76px;
    line-height: 1.2;
    font-weight: 700;
    padding-top: 100px;
}
.bar {
    padding-top: 1rem;
}
@media (min-width: 768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navigation a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .navigation a:last-of-type {
        margin: 0;
    }
}
.navigation a:hover {
    color: #00ad26;
}
.mobile-menu img {
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navigation:target {
    display: block;
}
.navigation {
    display: none;
}
@media (min-width: 768px) {
    .navigation {
        display: block;
    }
}
@media (min-width: 768px)  {
    .icons-us {
        display: flex;
        justify-content: space-between;
    }
}
.icon {
    text-align: center;
}
@media (min-width: 768px){
    .icon {
        flex-basis: calc(33.3% - 1rem);
    }
}
.icon h3 {
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .container-advertisements{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.ad {
    border: 1px solid var(--border-color-light);
    background-color: #282828;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .ad {
        flex: 0 0 calc(33.3% - 1rem);
    }
}
.contents-ad {
    padding: 2rem;
}
.contents-ad h3,
.contents-ad p {
    margin: 0;
}
.price {
    color: #00ad26;
    font-weight: 700;
}
.icons-features {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}
.icons-features li {
    display: flex;

}
.icons-features li img {
    margin-right: 2rem;
}
.see-all {
    display: flex;
    justify-content: flex-end;
}
.image-contact {
    background-image: linear-gradient(
        rgba(0,0,0,0.3),rgba(0,0,0,0.3)
    ), url(../utils/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;

}
.contents-contact {
    flex: 0 0 95%;
    color: #fff;
}
.contents-contact p {
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .section-lower {
        display: flex;
        justify-content: space-between;
    }
    .section-lower .blog {
        flex-basis: 60%;
    }
}
.entry-blog {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .entry-blog {
        display: flex;
        justify-content: space-between;
    }
}
.entry-blog:last-of-type{
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .entry-blog .image {
        flex-basis: 40%;
    }
    .entry-blog .text-entry {
        flex-basis: calc(60% - 3rem);
    }
}
.text-entry a {
    color: #000;
    text-decoration: none;
}
.text-entry h4 {
    margin: 0;
    line-height: 1.4;
}
.text-entry h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background: #00ad26;
}
.text-entry span {
    color: #00ad26;
}
.site-footer {
    background: #333;
    margin: 0;
}
.container-footer {
    padding: 3rem 0;
    text-align: center;
}
@media (min-width: 768px) {
    .container-footer {
        display: flex;
        justify-content: space-between;
    }
}
.site-footer nav {
    display: none;
}
@media (min-width: 768px) {
    .site-footer nav {
        display: block;
    }

}
copyright {
    margin: 0;
    color: #ffff;
}


/**Nosotros**/
@media (min-width: 768px) {
    .contents-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.text-us blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
    color: #fff;
}